.inputDetails{
    width: 65%;
    height: 13px;
    border: none;
}
.submitDetails{
    margin-top: 7px;
    width: 70px; 
    margin-bottom: 5px; 
    cursor: pointer; 
    background-color: white;
    font-weight: 900;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 135px;
}
.submitDetails:hover{
    background-color: rgb(47, 255, 54);
}