.loginForm{
    /* display: none; */
    margin-right: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 95px;
    position: absolute;
    animation: ani .5s forwards;
    left: 413px;
    top: 32px;
    background-image: url("../logos/Header1.jpg")
}
.signUpForm {
    width: 104.5px;
    background-image: url("../logos/Header1.jpg"); 
    margin-right: 146px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    animation: ani .5s forwards;
    position: absolute;
    top: 32px;
    left: 278.3px;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

