.login-section{ 
  width: 348px;
  height: 0px;
  display: table-cell;
  background-color: rgb(255, 255, 255); 
  position: absolute;
  right: 0px;
  bottom: 605px;
  z-index: 97;
}
.header{
  height: 135px;
  width: "100vh";
  background-image: url('../logos/Header3.jpg');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reactLogo{
  padding: 0em;
  background-color: transparent;  
  margin-left: 45%;
  margin-top: 5%;
  width: 40%;
  height: 80%;
}
.reactLogo-containter{
  width: 18%;
  height: 100%;
  position: relative;
  float: left;
}
.btn-sign{
    color: black;
    background-image: url('../logos/Header1.jpg');
    border: none;
    font-weight: 900;
    padding: 10px 24px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 50px;    
    cursor: pointer;
    
    margin-right: 30px;
}
.btn-log{
  border: none;
  color: black;
  background-image: url("../logos/Header1.jpg");
  padding: 10px 24px;
  font-weight: 900;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 50px;
  margin-right: 30px;   
  cursor: pointer;
}
.festivalLink{
  font-weight: 900;
  font-style: arial;
  color: black;
  background-image: url("../logos/Header1.jpg");
  text-decoration: none;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  border-radius: 40px;
  border: none;
  top: 37.5%;
}
.theatreLink {
  font-weight: 900;
  font-style: arial;
  color: black;
  background-image: url("../logos/Header1.jpg");
  text-decoration: none;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  border-radius: 40px;
  border: none;
  top: 37.5%;
}
.workshopLink{
    font-weight: 900;
    font-style: arial;
    color: black;
    background-image: url("../logos/Header1.jpg");
    text-decoration: none;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    border-radius: 40px;
    border: none;
    top: 37.5%;
}
.concertLink{
  font-weight: 900;
  font-style: arial;
  color: black;
  background-image: url("../logos/Header1.jpg");
  text-decoration: none;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  border-radius: 40px;
  top: 37.5%;
  border: none;
}
.festivalLink:hover {
  padding: 11px 26px;
}
.theatreLink:hover {
  padding: 11px 26px;
}
.workshopLink:hover {
  padding: 11px 26px;
}
.concertLink:hover {
  padding: 11px 26px;
}
.toolBox {
  margin-right: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 140px;
  animation: ani .5s forwards;
  background-image: url("../logos/Header1.jpg");
  position: absolute;
  margin-right: 30px;
  right: 6px;
  top: 50px;
  text-align: center;
  
}
.toolBoxButton {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
.userProfile {
   position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 90;
}
.userProfileWindow{
  height: 300;
  width: 300;
  background-color: white;
  border-radius: 3%;
  border: 5px solid black;
  position: absolute;
  left: 340px;
  top: 35px;
  float: left;
}
.myProfilePopUpClose{
  border-radius: 30px;
  background-image: url('../logos/Header1.jpg');
  font-weight: bolder;
  border: 5px solid black;
  position: absolute;
  cursor: pointer;
  left: 540px;
}
.eventPane{

  background-image: url('../logos/eventPaneBackGround.jpg');
}
.userProfileTab{
  text-align: center;
  height: 148.5px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 27%;
  border-radius: 10px;
}
.tabButton{
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.userProfileTab:hover {
  background-color: #6969695c;
}
.detailsWindow{
  height: 600px;
  width: 380px;
  position: absolute;
  top: -15px;
  left: 150px;
  animation: fadeEffect 1s;
}
.deleteProfileButton{
  height: 40px;
  border: 2px solid black;
  margin-top: 40px;
  cursor: pointer;
  font-weight: 900;
  border-radius: 10px;
}
.deleteProfileButton:hover{
  background-color: rgb(47, 255, 54);
}
::-webkit-scrollbar {
  display: none;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}