<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Projects\Visual Studio Code\Java\src\main\webapp\styles\main.css">
    <title>Pleasure Venue</title>
</head>
<body>
    <!-- <a align="center" href="/venue/users">Get userlist</a> -->
    <div class="head">
        <div class="login-section" align="right">
            <button class="btn-sign">Sign up</button>
            <button class="btn-sign">Log in</button>
        </div>
        <div align="center">
            
        </div>
    </div>
</body>
</html>